
@font-face{
   font-family:"Helvetica", sans-serif;
   src:url("https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf") format("woff"), url("https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf") format("opentype"), url("https://candyfonts.com/wp-data/2018/10/26/11538/HELR45W.ttf") format("truetype");
}

html { 
   margin: 0; 
   padding: 0; 
   box-sizing: border-box;
   -webkit-font-smoothing: inherit;
   transition: 0.4s;

} 

:root { 
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
}

body { 
   font-family: "Helvetica", sans-serif;
   margin: 0; 
   padding: 0; 
   box-sizing: border-box;
   font-size: 16px; 
   line-height: 160%;
}

a {
   font-weight: 700;
   font-style: normal;
   font-size: 16px;
   color: black;
   line-height: 120%;
   text-decoration: none;
}

img {
   object-fit: cover;
}

.navbar {
   padding: 20px 100px;
   display: flex;
   flex-direction: row;
   justify-content: space-between;
}

.nav-links {
   list-style: none;
   margin: 0;
   padding: 0;
   display: flex;
   /* gap: 24px; */
}
.nav-links li {
   margin-right: 20px;
 }

.nav-links a {
   color: #ee4445;
   padding: 12px 20px;
   border-radius: 20px;
}
.nav-links a:hover {
   background-color: rgb(255, 240, 240);
}

a {
   font-weight: 600;
   font-style: normal;
   font-size: 16px;
   letter-spacing: 0px;
   line-height: 150%;
   text-decoration: none;
   margin: 0;
}

h1 {
   font-size: 64px;
   font-weight: 900;
   font-weight: bolder;
   line-height: 120%;
   margin: 0;
}
h2 {
   font-size: 52px;
   font-weight: 900;
   font-weight: bolder;
   line-height: 120%;
   margin: 0; 
}
h3 {
   font-size: 44px;
   font-weight: 900;
   font-weight: bolder;
   line-height: 120%;
   margin: 0; 
}
h4 {
   font-size: 32px;
   font-weight: 900;
   font-weight: bolder;
   line-height: 120%;
   margin: 0; 
}
h5 {
   font-size: 24px;
   font-weight: 900;
   font-weight: bolder;
   line-height: 120%;
   margin: 0; 
}
h6 {
   font-size: 18px;
   font-weight: 900;
   font-weight: bolder;
   line-height: 120%;
   margin: 0; 
}

.paragraph-large {
   font-size: 20px;
   width: 100%;
   line-height: 1.5;
   margin: 0; 
}
.paragraph-medium {
   font-size: 16px;
   width: 100%;
   line-height: 1.5;
   margin: 0; 
}
.paragraph-small {
   font-size: 14px;
   width: 100%;
   line-height: 1.5;
   margin: 0; 
}

.scroll-container {
   box-sizing: border-box;
   width: 100%;
   max-width: 420px;
   height: 80px;
   margin-top: 12px;
   overflow: hidden;
}
.scrolling-list {
   margin: 0px; 
   padding: 0px; 
   list-style-type: none; 
   animation: scroll-items 4s linear infinite;
}
@keyframes scroll-items {
   from {
      transform: translateY(0); 
   }
   to {
      transform: translateY(-100%); 
   }
}


.section-title {
   font-size: 24px;
}

.pry-button {
   background-color: black;  /* Red color */
   color: #fff;  /* White text color */
   padding: 12px 24px;  /* Adjust padding as needed */
   border: none;
   border-radius: 50px;  /* Creates a round button */
   cursor: pointer;  /* Changes cursor to pointer on hover */
   font-size: 16px;
   font-weight: 600;
   text-decoration: none;  /* Removes underline from text */
   word-break: keep-all;
   display: inline-block;  /* Ensures inline behavior */   
}

.red-button {
   background-color: #ee4445;
}
.red-button:hover {
   background-color: black;  
}

.blue-button {
   background-color: #447EDF;
}
.blue-button:hover {
   background-color: black;  
}


.container { 
    position: relative; 
    padding: 100px 100px;
} 

.bkg-lightblue {
   background-color: #e5f3ff;
   color: rgb(1, 1, 49);
}
.bkg-lightred {
   background-color: #FFF5F5;
}
.bkg-lightgreen {
   background-color: #E5FEE6;
}
.bkg-white {
   background-color: #FFFFFF;
}
.bkg-lightgray {
   background-color: whitesmoke;
}
.bkg-black {
   background-color: black;
   color: white;
}

.text-color-red {
   color: #ee4445;
}
.text-color-white {
   color: white;
}
.text-color-green {
   color: green;
}
.text-color-blue {
   color: #447EDF;
}


.h-flex {
   display: flex;
   flex-direction: row;
   align-items: center;
}
.v-flex {
   display: flex;
   flex-direction: column;
}

.align-items-start {
   align-items: start;
}
.align-items-centre {
   display: flex;
   align-items: center;
   align-content: center;
}
.justify-items-centre {
   justify-content: center;
}

.max-width-full {
   width: 100%;
}
.max-width-large {
   max-width: 70%;
}

.gap-large {
   gap: 80px;
}
.gap-medium {
   gap: 48px;
}
.gap-small {
   gap: 24px;
}
.gap-xsmall {
   gap: 12px;
}

.spacer-xsmall {
   height: 12px;
}
.spacer-small {
   height: 24px;
}
.spacer-medium {
   height: 48px;
}
.spacer-large {
   height: 80px;
}

.icon-40 {
   width: 40px; 
   height: 40px;
   align-content: center;
   align-items: center;
   justify-content: center;
   justify-items: center;
   text-align: center;
}
.icon-24 {
   width: 24px; 
   height: 24px;
   align-content: center;
   align-items: center;
   justify-content: center;
   justify-items: center;
   text-align: center;
}

.padding-large {
   padding: 80px;
}
.padding-medium {
   padding: 48px;
}
.padding-small {
   padding: 24px;
}
.padding-xsmall {
   padding: 12px;
}

.border-radius-xsmall {
   border-radius: 8px;
}
.border-radius-small {
   border-radius: 12px;
}
.border-radius-medium {
   border-radius: 20px;
}
.border-radius-large {
   border-radius: 32px;
}

.red-vertical-line {
   width: 4px;
   min-height: 100px;
   display: block;
   background-color: #5c0d0d;
   border-radius: 4px;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion-wrapper {
   width: 100%;
   padding: 4px;
   background-color: white;
   display: flex;
   flex-direction: column;
   border-radius: 16px;
   overflow: hidden;
   margin-bottom: 8px;
}
.accordion {
   background-color: white;
   color: black;
   cursor: pointer;
   padding: 20px;
   width: 100%;
   text-align: left;
   font-size: 18px;
   font-weight: 600;
   border: none;
   margin: 0px;
   display: flex;
   justify-content: space-between;
   align-items: center;

 }
.accordion:after {
   content: '\02795'; /* Unicode character for "plus" sign (+) */
   font-size: 18px;
   float: right;
   margin-left: 5px;
   color: #ee4445;
}
 
.active:after {
   content: "\2796"; /* Unicode character for "minus" sign (-) */
}
 
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .accordion:hover {
   color: #ee4445;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
   padding: 4px 16px;
   background-color: white;
   display: none;
   overflow: hidden;
   line-height: 1.6;
   font-size: 14px;
}

/* Slideshow container */
.slideshow-container {
   max-width: 80%;
   position: relative;
   margin: auto;
 }
 
 
 /* Caption text */
 .text {
   color: #f2f2f2;
   font-size: 14px;
   padding: 8px 12px;
   position: absolute;
   bottom: 8px;
   width: 100%;
   text-align: center;
 }
 
 /* The dots/bullets/indicators */
 .dot {
   cursor: pointer;
   height: 15px;
   width: 15px;
   margin: 0 2px;
   background-color: #bbb;
   border-radius: 50%;
   display: inline-block;
   transition: background-color 0.6s ease;
 }
 
 .active, .dot:hover {
   background-color: #717171;
 }

 .testifier {
   font-family: "Helvetica";
   font-size: 18px;
   font-weight: 600;
 }
 
 .mySlides {
   width: 100%;
   font-size: 20px;
   line-height: 160%;
   text-align: center;
 }
 /* Fading animation */
 .fade {
   animation-name: slide;
   animation-duration: 1.5s;
 }
 
 @keyframes slide {
   from {overflow-x;: .4} 
   to {opacity: 1}
 }
 
 /* On smaller screens, decrease text size */
 @media only screen and (max-width: 375px) {
   .prev, .next,.text {font-size: 12px}
 }
 
 .location-wrapper {
   width: 100%;
   display: flex;
   flex-direction: column;
   max-width: 400px;
 }